<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>评论列表</title>
  <link rel="stylesheet" href="./libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/iconfont.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="./libs/jquery-1.12.4.min.js"></script>
  <script src="./libs/template-web.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="common_title">
      评论列表
    </div>
    <div class="container-fluid common_con">
      <table class="table table-striped table-bordered table-hover mp20">
        <thead>
          <tr>
            <th>作者</th>
            <th>评论</th>
            <th>评论在</th>
            <th>提交于</th>
            <th>状态</th>
            <th class="text-center" width="100">操作</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
      <div class="row text-center">

        <ul id="pagination" class="pagination-sm"></ul>
      </div>

    </div>
  </div>
  <script src="./js/http.js"></script>
  <script src="../josecebe-twbs-pagination-1.3.1-50-g5103bc4/josecebe-twbs-pagination-5103bc4/jquery.twbsPagination.js">
  </script>
  <script type="text/html" id="list">
    {{each data.data}}
    {{if $value.state=='待审核'}}
    <tr class='danger'>
      {{else}}
    <tr>
      {{/if}}
      <td>{{$value.name}}</td>
      <td>{{$value.content}}</td>
      <td>{{$value.title}}</td>
      <td>{{$value.date}} {{$value.time}}</td>
      <td>{{$value.state}}</td>
      <td class="text-center">
        {{if $value.state=='待审核'}}
        <a href="javascript:editTr( 'rejected',11 );" class="btn btn-pass btn-xs btn-warning"
          data-id='{{$value.id}}'>批准</a>
        {{else if $value.state=='已通过'}}
        <a href="javascript:editTr( 'trashed',11 );" class="btn btn-danger btn-xs" data-id='{{$value.id}}'>拒绝</a>
        {{else if $value.state=='已拒绝'}}
        <a href="javascript:editTr( 'trashed',11 );" class="btn btn-pass btn-xs btn-success"
          data-id='{{$value.id}}'>通过</a>
        {{/if}}
        <a href="javascript:editTr( 'trashed',11 );" data-id='{{$value.id}}'
          class="btn btn-danger btn-xs btn-delete">删除</a>
      </td>
    </tr> -->
    {{/each}}
  </script>
  <script>
    $(function () {
      // 页面一加载,就需要获取数据
      var page = 1;
      var perpage = 8;
      $.get({
        url: BigNew.comment_list,
        data: {
          page: page,
          perpage: perpage
        },
        success: function (res) {
          // console.log(res);
          var temp = template('list', res)
          $('tbody').html(temp);
          // 分页条码
          $('#pagination').twbsPagination({
            totalPages: res.data.totalPage,
            visiblePages: 7,
            first: '首页',
            prev: '上一页',
            next: '下一页',
            last: '尾页',
            onPageClick: function (event, page) {
              // console.log(event);
              mypage = page;
              $.get({
                url: BigNew.comment_list,
                data: {
                  page: mypage,
                  perpage: perpage
                },
                success: function (res) {
                  if (res.code == 200) {
                    var temp = template('list', res)
                    $('tbody').html(temp);
                  }
                }
              })
            }
          })

        }

      })
      // 给拒绝按钮添加委托事件 comment_reject
      $('tbody').on('click', '.btn-danger', function (e) {
        e.preventDefault();
        var id = $(this).attr('data-id')
        $.post({
          url: BigNew.comment_reject,
          data: {
            id: id
          },
          success: function (res) {
            $.get({
              url: BigNew.comment_list,
              data: {
                page: mypage,
                perpage: perpage
              },
              success: function (res) {
                if (res.code == 200) {
                  var temp = template('list', res);
                  $('tbody').html(temp)
                }
              }
            })
          }
        })
      })
      //给批准和通过添加委托事件
      $('tbody').on('click', '.btn-pass', function (e) {
        e.preventDefault();
        $.get({
          url: BigNew.comment_list,
          data: {
            page: mypage,
            perpage: perpage,
          }
        })

      })
    })
  </script>
</body>

</html>